.banner1 {
  color: #ffff;
  text-align: left; /* Left-align content */
}

.banner1-heading-offshore,
.banner1-heading-development {
  font-size: 3.5rem;
  text-align: left; /* Left-align heading */
}

.banner1-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  font-family: outfit;
  margin-bottom: 40px;
  text-align: left; /* Left-align paragraph */
}

.learn-more-banner1-btn {
  padding: 15px 40px;
  text-decoration: none;
  background: #C7892B;
  color: #000;
  border-radius: 50px;
  font-family: outfit;
  display: inline-block; /* Ensure button stays inline */
  text-align: left; /* Left-align button text */
}

.learn-more-banner1-btn:hover {
  border: none;
}

.certified-img {
  gap: 1rem;
  display: flex; /* Align images horizontally */
  align-items: center;
  justify-content: flex-start; /* Left-align images */
}

.certified-img img {
  transition: box-shadow 0.3s ease;
}

.certified-img img:hover {
  cursor: pointer;
  box-shadow: 0.1em 0.2em 0 #b8b8b8;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .banner1-heading-offshore,
  .banner1-heading-development {
      font-size: 28px;
  }
  
  .banner1-content {
      width: 100%;
      line-height: 20px;
      text-align: left; /* Maintain left alignment */
  }
}

@media (max-width: 450px) {
  .banner1-heading-offshore,
  .banner1-heading-development {
      font-size: 25px;
  }
  
  .learn-more-banner1-btn {
      padding: 10px 25px;
  }
  
  .certified-img {
      gap: 10px;
  }
}

@media (max-width: 1200px) and (min-width: 1020px) {
  .banner1-heading-offshore,
  .banner1-heading-development {
      font-size: 30px;
  }
  
  .learn-more-banner1-btn {
      padding: 10px 25px;
  }
}


/* .banner-container {
  height: 650px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out; 
} */
