.team-card{
height:300px;
position: relative;
min-width: 300px;
box-shadow: 0 4px 10px #C7892B; 
transition: transform 0.3s ease;
border-radius: 10px;
}
.text-primary-team{
  color: #C7892B !important;
  font-family: outfit;
  font-size: 35px !important;
  line-height: 50px;
  text-align: center;
}
.team-text{
  font-family: outfit;
  text-align: center;
  color: black;
}
.member-name{
  font-size: 18px;
}

.text-muted-position{
  text-align: left;
}
.fw-bold{
  font-family: outfit;
}

.team-member {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin: 5px;
}

.team-member:hover {
  transform: translateY(-5px);
}
.team-background-img{
  border-radius: none !important;
}

.team-img {
  position: relative;  
  height:200px; 
  
}

.team-img img {
  position: absolute;
  top: 100px;           
  left: 30px;          
  max-width: 100px;        
  max-height: 100px;       
  border-radius: 50%;  
  border: 2px solid #C7892B !important; 
}
.team-social-icons{

 color: #C7892B;
 
  font-size: 1rem !important;
  background-color: #ffffff;
  

  border: 3px solid #C7892B;
 
 
}

.linkedin-icon {
  color: #0077b5;
  font-size: 30px;
  cursor: pointer;
  
}
